button {
    background-color: #8359b6;
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  @media (max-width: 768px) {
    button {
      width: 100%;
      padding: 15px 0;
    }
  }