// Variables
$color-primary: #d8b4a6;
$color-secondary: #8c5e3c;
$color-text: #3f3f3f;

.taskButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .taskItem {
    flex: 1;
  }

  .button {
    margin-left: 5px;

    &.editBtn {
      background-color: lighten($color-primary, 10%);
    }

    &.deleteBtn {
      background-color: darken($color-primary, 10%);
    }

    &.viewBtn {
      background-color: $color-secondary;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;

    .button {
      margin: 5px 0;
    }
  }
}