.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
}

@media (max-width: 768px) {
  .App-header {
    font-size: 1.5rem;
  }
}