button {
  background-color: #8359b6;
  color: black;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #8e44ad;
  transform: scale(1.05);
}

button:active {
  background-color: #732d91;
  transform: scale(0.98);
}

@media (max-width: 768px) {
  button {
    width: 100%;
    padding: 15px 0;
  }
}